.input_group{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 5px 0;
}
.group_2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 5px;
}
.input_group > label{
    font-size: 0.8rem;
}
.input_group > input{
    background-color: whitesmoke;
    border: 2px solid gray;
    font-size: 1.1rem;
    padding: 10px 25px;
    border-radius: 5px;
    margin: 10px 5px;
    margin-top: 5px;
}
.input_group > input.success{
    border: 2px solid green;
}
.input_group > input:hover{
    background-color: #f7f7f7;
}

@media (max-width: 800px) {
    .group_2{
        flex-wrap: wrap;
    }
}