.nav__bar__dash__ {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  background-color: blue;
  color: white;
  text-align: center;
  background: rgb(79, 72, 207);
  background: linear-gradient(
    90deg,
    rgba(79, 72, 207, 1) 29%,
    rgba(85, 200, 131, 1) 100%
  );
}

.nav__bar__dash____options {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  color: white;
}

.nav__bar__dash____options > button {
  border-radius: 20px;
  padding: 10px;
  border: none;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #5ab5d400;
  color: white;
  border: 1px solid white;
}

.nav__bar__dash____options > button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(82, 82, 82);
}

.nav__bar__dash____option {
  margin: 0 1rem;
}

.Modal {
  width: 300px;
  position: relative;
  top: 5rem;
  background-color: white;
  padding: 3rem;
  margin: auto;
  border-radius: 5px;
}

.modal__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__heading > p {
  margin: 0;
}

.modal__heading > svg:hover {
  cursor: pointer;
}

.modal__form > input {
  padding: 10px;
  width: -webkit-fill-available;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  background-color: #f2f2f2;
  border: none;
}

.login__btn {
  padding: 10px;
  width: -webkit-fill-available;
  margin-bottom: 0.5rem;
  background-color: #5ab6d4;
  color: white;
  outline: none;
  border: none;
  font-size: 1rem;
}

.login__btn:hover {
  cursor: pointer;
}
.link__style {
  text-decoration: none;
  color: white;
}
p > span {
  color: blue;
}
p > span:hover {
  cursor: pointer;
}
