

.special{
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    min-width: 130px;
    font-size: 1rem;
    margin: 0 10px;
    background: rgb(79, 72, 207);
    background: linear-gradient(
      90deg,
      rgba(79, 72, 207, 1) 29%,
      rgba(85, 200, 131, 1) 100%
    );
    color: white;
    text-align: center;
    text-decoration: none;
    transition: 0.3s ease;
    opacity: 1;
  }
  
  .special:hover {
    transition: 0.3s ease;
    cursor: pointer;
    opacity: 0.9;
    /* -webkit-transition: background 1000ms linear;
    -ms-transition: background 1000ms linear;
    transition: background 1000ms linear; */
  }