.Header {
  height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: aliceblue;
}

.header__getStarted {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__svg {
  position: absolute;
  z-index: -1;
  right: -25rem;
  height: 55rem;
  top: 0rem;
  transform: rotate(10deg);
  transform: scale(1.2);
}
.header__getStarted__content {
  margin-left: 20%;
}

.header__getStarted__content > h1 {
  font-size: 3rem;
  font-weight: 400;
  color: #4d4dff;
}

.header__getStarted__content > h1 > span {
  color: #73e1ec;
}

.header__getStarted__content > p {
  margin-bottom: 2.2rem;
}

.header__getStarted__content > input {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid lightgray;
  font-size: 1rem;
  width: 200px;
  outline: none;
  color: black;
}

.header__getStarted__content > button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  width: 130px;
  font-size: 1rem;
  margin: 0 10px;
  background: rgb(79, 72, 207);
  background: linear-gradient(
    90deg,
    rgba(79, 72, 207, 1) 29%,
    rgba(85, 200, 131, 1) 100%
  );
  /* background-image: linear-gradient(
    90deg,
    rgba(20, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  ); */
  color: white;
}

.header__getStarted__content > button:hover {
  cursor: pointer;
}

.getstarted {
  text-align: center;
  padding: 4rem 2rem;
}

.getstarted > p {
  color: #8c8c8c;
}

.getstarted__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: #35358a;
}
.getstarted__arrow_card {
  position: relative;
  z-index: -1;
}
.getstarted__arrow {
  position: absolute;
  top: -11rem;
  height: 25rem;
  left: 5em;
}
.getstarted__arrow_2 {
  position: absolute;
  top: -11rem;
  height: 25rem;
  left: 12em;
}
.getstarted__cards {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
  margin-top: 3rem;
}

.getstarted__cards__card {
  padding: 3rem;
  box-shadow: 1px 0px 30px rgba(216, 216, 216, 0.884);
  -webkit-box-shadow: 1px 0px 30px rgba(216, 216, 216, 0.75);
  -moz-box-shadow: 1px 0px 30px rgba(216, 216, 216, 0.884);
  width: 55%;
  margin: 0 2rem;
  min-width: 250px;
  max-width: 330px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.getstarted__cards__card > h1 {
  font-size: 1.3rem;
  font-weight: 400;
  color: #35358a;
}

.newsLetter {
  display: flex;
  padding: 4rem;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  position: relative;

  /* background: linear-gradient(
    90deg,
    rgba(20, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  ); */
  background: rgb(79, 72, 207);
  background: linear-gradient(
    90deg,
    rgba(79, 72, 207, 1) 29%,
    rgba(85, 200, 131, 1) 100%
  );
  color: white;
  margin-top: 3rem;
}
.newsLetter:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 300px;
  height: 100%;
  background: rgba(230, 10, 10, 0.3);
  transform: skewX(-30deg);
  animation-name: slide;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.034) 0%,
    rgba(255, 255, 255, 0.014) 0%,
    rgba(255, 255, 255, 0.014) 0%,
    rgba(255, 255, 255, 0.014) 0%
  );
}
@keyframes slide {
  0% {
    left: -400px;
    top: 0;
  }
  100% {
    left: 1500px;
    top: 0;
  }
}
.newsLetter__content > h2 {
  font-weight: 300;
  font-size: 1.8rem;
  margin-left: 100px;
  margin-bottom: 0;
}

.newsLetter__content > p {
  max-width: 420px;
  font-size: 0.8rem;
  margin-left: 100px;
}
.newsLetter__input {
  width: 50%;
  font-size: 1em;
  margin-left: auto;
}
.newsLetter__input > input {
  padding: 15px 30px;
  outline: none;
  border: none;
  font-size: 1em;
  opacity: 0.4;
  border-radius: 30px 0 0 30px;
  width: 200px;
  margin-left: auto;
  width: 50%;
}

.newsLetter__input > input::placeholder,
:-ms-input-placeholder {
  color: white;
}

.newsLetter__input > button {
  font-size: 1em;
  padding: 15px 30px;
  border: none;
  outline: none;
  border-radius: 0 30px 30px 0;
  color: #35358a;
  cursor: pointer;
}
@media (max-width: 800px) {
  .header__getStarted {
    overflow: hidden;
  }
  .header__svg {
    right: -75rem;
  }
  .getstarted__heading {
    text-align: center;
  }
  .header__getStarted__content {
    margin: auto;
    padding: 25px;
  }
  .header__getStarted__content > button {
    margin: 10px 0;
  }
  .getstarted {
    padding: 1rem;
  }
  .getstarted__cards {
    padding: 0;
    flex-direction: column;
  }
  .newsLetter {
    flex-direction: column;
    padding: 4rem 0;
  }
  .newsLetter__content > p,
  .newsLetter__content > h2 {
    margin-left: 15px;
    margin-right: auto;
  }
  .newsLetter__input {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .newsLetter__input > input {
    width: 40%;
    margin-left: unset;
  }
  .getstarted__arrow,
  .getstarted__arrow_2,
  .getstarted__arrow_3 {
    display: none;
  }
  .getstarted__cards__card {
    padding: 1rem;
    margin: 1rem 0;
  }
}
