.Header {
  height: 100vh;
  position: relative;
  z-index: 1;
}

.header__getStarted {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__svg {
  position: absolute;
  z-index: -1;
  right: -35rem;
  height: 63rem;
  top: -13rem;
}
.header__getStarted__content {
  margin-left: 20%;
}

.header__getStarted__content > h1 {
  font-size: 3rem;
  font-weight: 400;
  color: #4d4dff;
}

.header__getStarted__content > h1 > span {
  color: #73e1ec;
}

.header__getStarted__content > p {
  margin-bottom: 2.2rem;
}

.header__getStarted__content > input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid lightgray;
  font-size: 0.8rem;
  width: 200px;
  outline: none;
}

.header__getStarted__content > button {
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 120px;
  margin: 0 20px;
  background-image: linear-gradient(
    90deg,
    rgba(20, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
}

.header__getStarted__content > button:hover {
  cursor: pointer;
}

.getstarted {
  text-align: center;
  padding: 2rem;
}

.getstarted > p {
  color: #8c8c8c;
}

.getstarted__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: #35358a;
}
.getstarted__arrow_card {
  position: relative;
  z-index: -1;
}
.getstarted__arrow {
  position: absolute;
  top: -11rem;
  height: 25rem;
  left: 5em;
}
.getstarted__arrow_2 {
  position: absolute;
  top: -11rem;
  height: 25rem;
  left: 12em;
}
.getstarted__cards {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
  margin-top: 3rem;
}

.getstarted__cards__card {
  padding: 3rem;
  box-shadow: 1px 0px 30px rgba(216, 216, 216, 0.884);
  -webkit-box-shadow: 1px 0px 30px rgba(216, 216, 216, 0.75);
  -moz-box-shadow: 1px 0px 30px rgba(216, 216, 216, 0.884);
  max-width: 300px;
}

.getstarted__cards__card > h1 {
  font-size: 1.3rem;
  font-weight: 400;
  color: #35358a;
}
