.Header {
  height: 100vh;
  position: relative;
  z-index: 1;
}

.header__getStarted {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__svg {
  position: absolute;
  z-index: -1;
  right: -35rem;
  height: 55rem;
  top: 0rem;
}
.header__getStarted__content {
  margin-left: 20%;
}

.header__getStarted__content > h1 {
  font-size: 3rem;
  font-weight: 400;
  color: #4d4dff;
}

.header__getStarted__content > h1 > span {
  color: #73e1ec;
}

.header__getStarted__content > p {
  margin-bottom: 2.2rem;
}

.header__getStarted__content > input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid lightgray;
  font-size: 0.8rem;
  width: 200px;
  outline: none;
  color: white;
}

.header__getStarted__content > button {
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 120px;
  margin: 0 20px;
  background: rgb(79, 72, 207);
  background: linear-gradient(
    90deg,
    rgba(79, 72, 207, 1) 29%,
    rgba(85, 200, 131, 1) 100%
  );
  /* background-image: linear-gradient(
    90deg,
    rgba(20, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  ); */
  color: white;
}

.header__getStarted__content > button:hover {
  cursor: pointer;
}

.getstarted {
  text-align: center;
  padding: 2rem;
}

.getstarted > p {
  color: #8c8c8c;
}

.getstarted__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: #35358a;
}
.getstarted__arrow_card {
  position: relative;
  z-index: -1;
}
.getstarted__arrow {
  position: absolute;
  top: -11rem;
  height: 25rem;
  left: 5em;
}
.getstarted__arrow_2 {
  position: absolute;
  top: -11rem;
  height: 25rem;
  left: 12em;
}
.getstarted__cards {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
  margin-top: 3rem;
}

.getstarted__cards__card {
  padding: 3rem;
  box-shadow: 1px 0px 30px rgba(216, 216, 216, 0.884);
  -webkit-box-shadow: 1px 0px 30px rgba(216, 216, 216, 0.75);
  -moz-box-shadow: 1px 0px 30px rgba(216, 216, 216, 0.884);
  max-width: 300px;
  margin: 0 2rem;
}

.getstarted__cards__card > h1 {
  font-size: 1.3rem;
  font-weight: 400;
  color: #35358a;
}

.newsLetter {
  display: flex;
  padding: 2rem 4rem;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  position: relative;

  /* background: linear-gradient(
    90deg,
    rgba(20, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  ); */
  background: rgb(79, 72, 207);
  background: linear-gradient(
    90deg,
    rgba(79, 72, 207, 1) 29%,
    rgba(85, 200, 131, 1) 100%
  );
  color: white;
  margin-top: 3rem;
}
.newsLetter:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100px;
  width: 300px;
  height: 100%;
  background: rgba(230, 10, 10, 0.3);
  transform: skewX(-30deg);
  animation-name: slide;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.034) 0%,
    rgba(255, 255, 255, 0.014) 0%,
    rgba(255, 255, 255, 0.014) 0%,
    rgba(255, 255, 255, 0.014) 0%
  );
}
@keyframes slide {
  0% {
    left: -400px;
    top: 0;
  }
  100% {
    left: 1500px;
    top: 0;
  }
}
.newsLetter__content > h2 {
  font-weight: 300;
  font-size: 1.8rem;
  margin-bottom: 0;
}

.newsLetter__content > p {
  font-size: 0.8rem;
}

.newsLetter__input > input {
  padding: 10px;
  outline: none;
  border: none;
  opacity: 0.4;
  border-radius: 30px 0 0 30px;
  width: 200px;
}

.newsLetter__input > input::placeholder,
:-ms-input-placeholder {
  color: white;
}

.newsLetter__input > button {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 0 30px 30px 0;
  color: #35358a;
  cursor: pointer;
}
