.About {
  padding: 4rem 2rem;
  display: flex;
  justify-content: space-around;
}

.about__image {
  width: 50%;
  padding: 2rem;
}

.about__image > img {
  width: 100%;
}

.about__content {
  width: 50%;
  padding: 2rem;
}

.about__content__heaing {
  font-size: 2.5rem;
  font-weight: 400;
  color: #35358a;
}

.about__content__description {
  max-width: 80%;
  color: #8c8c8c;
  text-align: left;
}

.about__content__btn {
  border: 1px solid lightgray;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 30px;
  border-color: #35358a;
  margin-top: 3rem;
}

.about__content__btn:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  .About{
    flex-direction: column-reverse;
    padding: 1rem;
  }
  .about__image{
    width: 100%;
    padding: 0;
  }
  .about__content{
    width: 100%;
    padding: 1rem;
  }
  .about__content__description{
    max-width: 95%;
  }
}