.nav__bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: center;
}

.nav__bar__options {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  color: white;
}

.nav__bar__options > button {
  border-radius: 20px;
  padding: 10px;
  border: none;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #5ab5d400;
  color: white;
  border: 1px solid white;
}

.nav__bar__options > button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(82, 82, 82);
}

.nav__bar__option {
  margin: 0 1rem;
}

.Modal {
  position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */

  width: 300px;
  background-color: white;
  padding: 3rem;
  border-radius: 15px;
}

.modal__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__heading > p {
  margin: 0;
}

.modal__heading > svg:hover {
  cursor: pointer;
}

.modal__form > input {
  padding: 10px;
  width: -webkit-fill-available;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  background-color: #f2f2f2;
  border: none;
  width: 100%;
}

.login__btn {
  padding: 10px;
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: #5ab6d4;
  color: white;
  outline: none;
  border: none;
  font-size: 1rem;
}

.login__btn:hover {
  cursor: pointer;
}
.link__style {
  text-decoration: none;
  color: white;
}
p > span {
  color: blue;
}
p > span:hover {
  cursor: pointer;
}
