.ourTeam {
  padding: 2rem;
  text-align: center;
}

.ourTeam__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: #35358a;
  margin-top: 0;
}

.ourTeam > p {
  margin-bottom: 3rem;
  color: #8c8c8c;
}

.teamMember__name {
  font-size: 1.3rem;
  font-weight: 400;
  color: #35358a;
  margin-bottom: 0;
}
.teamMember__post {
  margin-top: 0;
  color: #8c8c8c;
  margin-bottom: 20.8px;
}

.ourTeam__cards {
  display: flex;
  justify-content: space-around;
}
.teamMember__image > img {
  border-radius: 50%;
}
.ourTeam__cards__card {
  border-radius: 5px;
  box-shadow: 1px 0px 10px rgba(216, 216, 216, 0.884);
  -webkit-box-shadow: 1px 0px 10px rgba(216, 216, 216, 0.884);
  -moz-box-shadow: 1px 0px 10px rgba(216, 216, 216, 0.884);
  padding: 3.0rem;
  min-width: 150px;
  width: 12%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.teamMember__socialMedia {
  cursor: pointer;
  font-size: x-large;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.teamMember__socialMedia_icon {
  margin: 2px;
}
