.news {
  padding: 4rem 2rem;
  text-align: center;
  width: 100%;
}

.news__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: #35358a;
}

.news > p {
  color: #8c8c8c;
  margin-bottom: 3rem;
}

.news__cards {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-gap: 25px;
}

.news__cards__card {
  max-width: 300px;
  text-align: left;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.news__card__image > img {
  width: 100%;
}

.news__card__content {
  cursor: pointer;
  padding: 1.5rem;
}

.news__card__content > span {
  font-size: 0.8rem;
  color: #43c198;
}
.news__card__content > p {
  color: #35358a;
}

.news__card__footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}
.news__card__footer > span {
  color: #8c8c8c;
}

@media (max-width: 800px) {
  .news{
    padding: 2em 0;
  }
  .news > p {
    margin:15px;
  }
  .news__cards{
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .news__cards__card{
    margin: 10px;
  }
}